body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Asegura que el texto y la cuenta regresiva ocupen el espacio adecuado */
    align-items: center;
    height: 100vh;
    background-color: #050505; /* Fondo oscuro */
    font-family: 'VT323', monospace; /* Fuente menos llamativa */
    color: #ffffff;
}

h1 {
    font-size: 36px; /* Texto más grande */
    margin-top: 20px;
    margin-bottom: 0;
}

.countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-grow: 1; /* Asegura que la cuenta regresiva ocupe la mayor parte de la pantalla */
}

.time {
    text-align: center;
    flex: 1; /* Asegura que cada bloque ocupe el mismo espacio */
}

.number {
    font-size: 180px; /* Tamaño de los números ajustado */
    font-family: 'Orbitron', sans-serif; /* Fuente digital */
    color: #ff3333;
}

.label {
    font-size: 24px;
    color: #aaaaaa;
    margin-top: 10px;
}

@media screen and (max-width: 768px) {
    .number {
        font-size: 90px; /* Ajuste para pantallas pequeñas */
    }

    .label {
        font-size: 16px;
    }
}
