body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #121212;
    font-family: Arial, sans-serif;
    color: #ffffff;
}

.countdown-container {
    text-align: center;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.countdown {
    display: flex;
    justify-content: center;
}

.time {
    margin: 0 20px;
}

.number {
    font-size: 72px;
    color: #ff3333;
}

.label {
    font-size: 18px;
    color: #aaaaaa;
    margin-top: 10px;
}
